{% extends 'base.html' %}

{% block content %}

    <div class="container">
    <h1>Accessories</h1>
        <hr>
    <div class="card-row">
            <div class="product-card">
                <img src="../static/img/products/Accessories1.jpg" alt="Товар 1">
                <h3>Название товара 1</h3>
                <p>Короткое описание товара 1</p>
                <p class="price">Цена: $10.00</p>
            </div>
            <div class="product-card">
                <img src="../static/img/products/Accessories2.png" alt="Товар 1">
                <h3>Название товара 1</h3>
                <p>Короткое описание товара 1</p>
                <p class="price">Цена: $10.00</p>
            </div>
            <div class="product-card">
                <img src="../static/img/products/Accessories3.png" alt="Товар 1">
                <h3>Название товара 1</h3>
                <p>Короткое описание товара 1</p>
                <p class="price">Цена: $10.00</p>
            </div>
            <div class="product-card">
                <img src="../static/img/products/Accessories1.jpg" alt="Товар 1">
                <h3>Название товара 1</h3>
                <p>Короткое описание товара 1</p>
                <p class="price">Цена: $10.00</p>
            </div>
        </div>
        <div class="card-row">
            <div class="product-card">
                <img src="../static/img/products/Accessories1.jpg" alt="Товар 1">
                <h3>Название товара 1</h3>
                <p>Короткое описание товара 1</p>
                <p class="price">Цена: $10.00</p>
            </div>
            <div class="product-card">
                <img src="../static/img/products/Accessories2.png" alt="Товар 1">
                <h3>Название товара 1</h3>
                <p>Короткое описание товара 1</p>
                <p class="price">Цена: $10.00</p>
            </div>
            <div class="product-card">
                <img src="../static/img/products/Accessories3.png" alt="Товар 1">
                <h3>Название товара 1</h3>
                <p>Короткое описание товара 1</p>
                <p class="price">Цена: $10.00</p>
            </div>
            <div class="product-card">
                <img src="../static/img/products/Accessories1.jpg" alt="Товар 1">
                <h3>Название товара 1</h3>
                <p>Короткое описание товара 1</p>
                <p class="price">Цена: $10.00</p>
            </div>
        </div>
        <div class="pagination">
        <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
        </ul>
    </div>
    </div>
{% endblock %}
