<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% block title %}
        {% if context.title %}
            <title>{{ context.title }}</title>
        {% else %}
            <title>Flask Course</title>
        {% endif %}
    {% endblock -%}
</head>

<body>
<div class="wrapper">
    <header class="header">
        {% block navigation %}
            <nav class="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('clothes') }}">Clothes</a></li>
                    <li class="nav-item"><a href="{{ url_for('shoes') }}">Shoes</a></li>
                    <li class="nav-item"><a href="{{ url_for('accessories') }}">Accessories</a></li>
                    <li class="nav-item"><a href="{{ url_for('about') }}">About</a></li>
                    <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        {% endblock %}
    </header>
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        {% block footer %}
            <p>&copy; 2023 XumpocmbDev</p>
        {% endblock %}
    </footer>
</div>


</body>
</html>
