{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Flask Course on GeekBrains</h1>
        <hr>
        <p>Flask - это легкий и мощный веб-фреймворк для языка Python. Он позволяет быстро создавать веб-приложения с
            минимальным усилием и весом кода.</p>

        <h2>Почему Flask?</h2>
        <p>Flask предоставляет простой и интуитивно понятный способ создания веб-приложений. В нем нет жестких правил, и
            вы можете выбирать библиотеки и инструменты, которые подходят вам и вашему проекту.</p>

        <h2>Основные особенности Flask:</h2>
        <ul>
            <li>Минималистичный и легковесный</li>
            <li>Встроенная поддержка шаблонов Jinja2</li>
            <li>Расширяемость с помощью множества плагинов</li>
            <li>Легкость в изучении и использовании</li>
        </ul>
    </div>
{% endblock %}
